body{
	
}


#btn-jugar{
	border-radius:20px;
	text-transform: capitalize;
}

.cuadro{
	height: 200px;
	opacity: 0.6;
	transition: 500ms;

}

#cuadro-1{
	background-color: red ;
}

#cuadro-2{
	background-color: blue ;
}

#cuadro-3{
	background-color: yellow ;
}

#cuadro-4{
	background-color: green ;
}